<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="login" method="post">
      username: <input name="username" type="text">
      password: <input name="password" type="text">
      <button>login</button>
    </form>
  </body>
</html>
